.card {
    border-radius: 10rem !important;
    background: #efefef !important;
    max-width: 75%;
    color: #333; 

}
.card-body {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;

}

.weather-icon {
    font-size: 2rem;
}

.weather-left {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.temperature-display {
    font-size: 2rem;
}

a{
    text-decoration: none !important;
}