.card {
    border-radius: 10rem !important;
    background: #efefef !important;

}
.card-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: inherit; /* Inherit background from parent */
    border-radius: inherit; /* Inherit border-radius from parent */
}

.weather-icon {
    font-size: 2rem;
}

.weather-left {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.temperature-display {
    font-size: 2rem;
}

a{
    text-decoration: none !important;
}